.clientdetail_page {
  background-color: #c5b5a6;
  text-align: center;
  padding-block: 4rem;
}

main {
  margin-inline: 15rem;
  margin-top: 3.5rem;
}

.clientdetail_text {
  font-family: "Alegreya";
  font-weight: 400;
  padding-block: 1rem;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

header {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
